<style>
  body {
    background-image: url('background.png');
    color: white;
    font-family: "Lucida Grande", "Bitstream Vera Sans", "Verdana", sans-serif;
    padding: 10px;
  }

  .constellation {
    background: rgb(0, 0, 90);
    color: white;
    float: left;
    text-align: center;
    padding: 0 20px 15px 20px;
    border-radius: 10px;
    border: 1px solid white;
    margin-right: 10px;
    box-shadow: 0 0 20px black;
    width: 200px;
  }

  .star {
    float: left;
    text-align: center;
    padding: 5px;
    border-radius: 4px;
    margin: 1px;
    min-width: 10px;
  }

  .inactive {
    color: rgb(70, 70, 70);
    border: 1px solid rgb(70, 70, 70);
  }

  .active {
    color: white;
    border: 1px solid white;
    box-shadow: 0 0 20px yellow inset;
  }

</style>

<script>
  $(function () {
    setInterval(function () {
      $.ajax({
        url: "/current_state",
        success: function (data) {
          for (var i in data) {
            var cons = data[i];
            if (cons.online) {
              $("#"+cons.name).removeClass("inactive");
              for (var j in cons.components) {
                var comp = cons.components[j];
                if (comp.current_state) {
                  $("#" + cons.name + "-" + comp.name).removeClass("inactive").addClass("active");
                } else {
                  $("#" + cons.name + "-" + comp.name).removeClass("active").addClass("inactive");

                }
              }
            } else {
              $("#"+cons.name).addClass("inactive");
            }
          }
        }
      });
    }, 500);
  });
</script>

<body>

<h1>Starlight Observatory</h1>

<% @constellations.each do |constellation| %>
    <div id="<%= constellation.name %>" class="constellation inactive">
      <h3><%= constellation.description %></h3>
      <% constellation.components.order(:created_at).each do |component| %>
          <div id="<%= "#{constellation.name}-#{component.name}" %>" class="star <%= component.current_state ? '' : 'in' %>active"><%= component.description %></div>
      <% end %>
    </div>
<% end %>

</body>
